<% filter.values.each do |v| %>
  <%
		session_value = nil
		session_value = (filter_session.include? v.to_s) unless filter_session.nil?
		session_value = (filter.params.include? v.to_s) unless filter.params.nil?
	-%>
    	<div>
				<%= content_tag(:label, 
						check_box_tag(list_filter_input_name(filter) + "[]",
							"#{v}",session_value) + "&nbsp;#{v}".html_safe) %>
			</div>
<% end %>